.bodySection3TopDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin: 50px auto;
}

.bodySection3H2 {
  font-family: Nunito;
  font-weight: 900;
  font-size: 42px;
  line-height: 95%;

  color: #6c6c6c;

  text-align: center;

  margin-bottom: 50px;
}

.bodySection3TopButtonsDiv {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;

}

.bodySection3TopButtons {
  /* Settings for 'Learn More' button */
  font-family: Nunito;
  font-weight: 900;
  font-size: 16px;
  color: #707070;

  min-width: 220px;
  height: 35px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 5px #00000029;
  border: 3px solid #43c0f6;
  border-radius: 7px;

  cursor: pointer;
}

.bodySection3TopButtonSelected {
  font-family: Nunito;
  font-weight: 900;
  font-size: 16px;
  color: #707070;

  min-width: 220px;
  height: 35px;

  background: #EFEFF1 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 5px #00000029;
  border: 3px solid #EFEFF1;
  border-radius: 7px;

  cursor: pointer; 
}

.bodySection3TopButtons:hover {
  /* Hover Settings for 'Learn More' button */
  color: white;
  background-color: #43c0f6;
  border: 3px solid #707070;
}

.bodySection3TopButtons:active {
  /* Active Settings for 'Learn More' button */
  color: black;
}

.bodySection3MiddleDiv {
  display: flex;
  justify-content: center;
  
  width: 100%;
  background-color: #efeff1;
  border: 1px solid #efeff1;

  padding-top: 50px;
  padding-bottom: 50px;
}

.bodySection3MiddleDivContent {
  display: flex;
  flex-direction: column;
  
  width: 75%;
}

.bodySection3MiddleDivContentH2 {
  font-family: Nunito;
  font-weight: 800;
  font-size: 30px;

  color: #606060;

  margin-bottom: 30px;
}

.bodySection3H3 {
  font-family: "Open Sans";
  font-size: 20px;

  color: #606060;

  margin-bottom: 30px;

}

.bodySection3BottomDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  
  width: 75%;
  margin: 80px auto;

  
}

.bodySection3BottomDivLeft {
  width: 50%;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bodySection3BottomDivImage {
  width: 100%;
  max-width: 625px;
  margin: auto 0;
}

.bodySection3BottomDivRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 50%;
  min-width: 300px;
  padding: 20px 50px;
 
}

.bodySection3BottomH2 {
  font-family: Nunito;
  font-weight: 900;
  font-size: 42px;
  line-height: 95%;

  color: #6c6c6c;

  margin-bottom: 50px;
}

.bodySection3BottomButtonsDiv {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}