/* Settings for div holding the elements in the top part */
.bodySection3TopDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 75%;
  margin: 50px auto;
}

/* Settings for H2 headings in this section */
.bodySection3H2 {
  font-family: Nunito;
  font-weight: 900;
  font-size: 42px;
  line-height: 95%;

  color: #6c6c6c;

  text-align: center;

  margin-bottom: 50px;
}

/* Settings for div holding the buttons */
.bodySection3TopButtonsDiv {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

/* Default settings for buttons on this section */
.bodySection3TopButtons {
  font-family: Nunito;
  font-weight: 900;
  font-size: 16px;
  color: #707070;

  min-width: 220px;
  height: 35px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 5px #00000029;
  border: 3px solid #43c0f6;
  border-radius: 7px;

  cursor: pointer;
}

/* Settings when the button was clicked. */
.bodySection3TopButtonSelected {
  font-family: Nunito;
  font-weight: 900;
  font-size: 16px;
  color: #707070;

  min-width: 220px;
  height: 35px;

  background: #EFEFF1 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 5px #00000029;
  border: 3px solid #EFEFF1;
  border-radius: 7px;

  cursor: pointer; 
}

/* Button's hover settings */
.bodySection3TopButtons:hover {
  color: white;
  background-color: #43c0f6;
  border: 3px solid #707070;
}

/* Button's active settings */ 
.bodySection3TopButtons:active {
  color: black;
}

/* Settings for the div holding the elements in the middle part  */ 
.bodySection3MiddleDiv {
  display: flex;
  justify-content: center;
  
  width: 100%;
  background-color: #efeff1;
  border: 1px solid #efeff1;

  padding-top: 50px;
  padding-bottom: 50px;
}

/* This div hold all the text in the middle part */
.bodySection3MiddleDivContent {
  display: flex;
  flex-direction: column;
  
  width: 75%;
}

/* Settings for H2 heading in the middle part */
.bodySection3MiddleDivContentH2 {
  font-family: Nunito;
  font-weight: 800;
  font-size: 30px;

  color: #606060;

  margin-bottom: 30px;
}

/* Styling for H3 heading */
.bodySection3H3 {
  font-family: "Open Sans";
  font-size: 20px;

  color: #606060;

  margin-bottom: 30px;

}

/* Styling for Div containing all the elements in bottom part*/
.bodySection3BottomDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  width: 75%;
  margin: 80px auto;
}

/* Styling for left side Div containing the image */
.bodySection3BottomDivLeft {
  width: 50%;
  min-width: 300px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Styling for image on the bottom part */
.bodySection3BottomDivImage {
  width: 100%;
  max-width: 625px;
  margin: auto 0;
}

/* Styling for Div holding the elements on the right side of the bottom Div */
.bodySection3BottomDivRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 50%;
  min-width: 300px;
  padding: 20px 50px;
}

/* Styling for H2 heading of the bottom part */
.bodySection3BottomH2 {
  font-family: Nunito;
  font-weight: 900;
  font-size: 42px;
  line-height: 95%;

  color: #6c6c6c;

  margin-bottom: 50px;
}

/* Styling for Div holding buttons on bottom right */
.bodySection3BottomButtonsDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  width: 80%;
  margin-top: 20px;
}