/* Footer background div */
.footerDiv {
  background-color: #b2e4fa;
  border: 1px solid #b2e4fa;

  margin-top: 60px;
}

/* Footer container div */
.footerLinksDiv {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
  width: 75%;
  margin: 100px auto;
}

/* div holding headings and other data */
.footLinksSectionDiv {
  min-width: 200px;
  width: 17.5%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* last div holding headings and other data */
.footLinksSectionDiv:last-of-type {
  width: 30%;
}

/* H2 headings */
.footerH2 {
  font-family: Nunito;
  font-weight: 800;
  font-size: 24px;
  text-align: left;

  color: #707070;

  margin-bottom: 20px;
}

/* H3 heading displaying links data */
.footerH3 {
  font-family: "Open Sans";
  font-size: 20px;

  color: #707070;

  margin-bottom: 15px;
}
