.homeBody {
    margin: 0 auto;
    max-width: 1920px;
    height: 3689px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 2px solid #00000029;
}